/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./material.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }


@font-face {
    font-family: 'productbold';
    src: url('productbold.ttf');
  }

/* latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fredoka One'), local('FredokaOne-Regular'), url(./fredoka.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  
/* Custom styling */

body {
  user-select: none;
  text-align: center;
  font-family: 'productbold';
  color: #F96167;
  font-size: 20px;
}

.row {
  margin-top: 50px;
}

nav {
    background-color: #EC8B5E;
    font-family: 'Fredoka One', cursive;
}

nav a i {
    color: #FCE77D !important;
}

nav ul li a{
  font-size: 18px;
  color: white;
}

.brand-logo.center {
    /* color: #2D4059 !important; */
    color: firebrick !important;
    font-size: 40px;
}

.btn-floating {
    background-color: #FCE77D;
}

.btn-floating:hover {
    background-color: #FFAB7E;
}

.btn-floating i {
    color: #F96167 !important;
}

.btn-large {
    background-color: #FCE77D;
    color: #F96167 !important;
}

.btn-large:hover {
    background-color: #FFAB7E;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
  text-align: left;
  padding: 15px;
}

.card-content .card-title {
  font-size: 22px;
}

