<div id="modal1" class="modal">
    <div class="modal-content">
      <h4><i class="material-icons">sms_failed</i> Unable to Connect</h4>
      <p style="color: #777B7E;">Please ensure that the IP camera is discoverable and is connected to the same network that this system is connected to.</p>
    </div>
    <div class="modal-footer">
      <a onclick="$('.modal').modal('close');" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons left">close</i> Close</a>
    </div>
</div>


<div class="row">

    <div class="col s12 m2" style="width: 21%;"></div>

    <div class="col s12 m8" style="width: 58%;">

        <ul class="collapsible popout">

            <li class="active">
                <div class="collapsible-header">
                        <div class="col s12 m3" id="conn-status"><i class="material-icons left">report</i></div>
                        <div class="col s12 m6" style="color: #777B7E;" id="conn-status-text">Disconnected</div>
                        <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_up</i></div>
                </div>

                <div class="collapsible-body">

                        <div class="input-field">
                            <input id="ip-addr" type="text" class="validate">
                            <label id="ip-label" for="ip-addr">Camera IP Address with Port Number</label>
                            <span class="helper-text">Format:&nbsp;&nbsp; xxx . xxx . xxx . xxx : xxxxx</span>
                        </div>

                        <a class="waves-effect waves-light btn-large" id="connect-btn" onclick="connectToCamera()"><i class="material-icons left">rss_feed</i>Connect</a>

                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <div class="col s12 m3"><i class="material-icons left">wifi</i></div>
                    <div class="col s12 m6">Live Preview</div>
                    <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_down</i></div>
                </div>

                <div class="collapsible-body" id="live-preview-container">
                    <span style="color: #777B7E;">IP Camera is disconnected, please ensure that camera is connected and streaming over the correct IP address and port number, on the same network.</span>
                </div>
            </li>

        </ul>

            </div>
        </div>
    </div>

    <div class="col s12 m2" style="width: 21%;"></div>

</div>

<!-- Non connection oriented -->

<div class="row">

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <div id="ip-input-img"><img src="{{ url_for('static', filename='temp/c.png') }}" alt="Use Capture to take a picture"></div>
          <a class="btn-floating halfway-fab waves-effect waves-light" onclick="triggerDownload('c.png')"><i class="material-icons">zoom_out_map</i></a>
        </div>
        <div class="card-content">
          <span style="display: inline;" class="card-title">Input RGB Image </span> <div style="display: inline;" id="ip-input-title-container"></div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <div id="ip-depth-img"><img src="{{ url_for('static', filename='temp/d.png') }}" alt="Depth intensity map will show up here"></div>
          <a class="btn-floating halfway-fab waves-effect waves-light" onclick="triggerDownload('d.png')"><i class="material-icons">zoom_out_map</i></a>
        </div>
        <div class="card-content">
          <span style="display: inline;" class="card-title">Output Depth Map </span> <div style="display: inline;" id="ip-depth-title-container"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s3"></div>
    <div class="col s6"><a class="waves-effect waves-light btn-large" onclick="loadPointCloud()"><i class="material-icons right">3d_rotation</i> View 3D Point Cloud</a></div>
    <div class="col s3"></div>
  </div>
