<div class="row">

    <div class="col s12 m3"></div>

    <div class="col s12 m6">

        <ul class="collapsible popout">

            <li class="active">
                <div class="collapsible-header">
                        <div class="col s12 m3"><i class="material-icons left">report</i></div>
                        <div class="col s12 m6" style="color: #777B7E;">Disconnected</div>
                        <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_up</i></div>
                </div>

                <div class="collapsible-body">

                        <div class="input-field">
                            <input id="ip-addr" type="text" class="validate">
                            <label for="ip-addr">Camera IP Address with Port Number</label>
                            <span class="helper-text">Format:&nbsp;&nbsp; xxx . xxx . xxx . xxx : xxxxx</span>
                        </div>

                        <a class="waves-effect waves-light btn-large" id="connect-btn" onclick="connectToCamera()"><i class="material-icons left">rss_feed</i>Connect</a>

                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <div class="col s12 m3"><i class="material-icons left">wifi</i></div>
                    <div class="col s12 m6">Live Preview</div>
                    <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_down</i></div>
                </div>

                <div class="collapsible-body">
                    <span style="color: #777B7E;">IP Camera cannot be reached, please ensure that camera is connected and streaming over the correct IP address and port number, on the same network.</span>
                </div>
            </li>

        </ul>

            </div>
        </div>
    </div>

    <div class="col s12 m3"></div>

</div>
