<div class="row">

    <div class="col s12 m3"></div>

    <div class="col s12 m6">

        <ul class="collapsible popout">

            <li class="active">
                <div class="collapsible-header">
                        <div class="col s12 m3"><i class="material-icons left">report</i></div> <!--check_circle-->
                        <div class="col s12 m6" style="color: #777B7E;">Disconnected</div>
                        <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_up</i></div>
                </div>

                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <div class="col s12 m3"><i class="material-icons left">wifi</i></div>
                    <div class="col s12 m6">Live Preview</div>
                    <div class="col s12 m3"><i class="material-icons right">keyboard_arrow_down</i></div>
                </div>

                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>

        </ul>

            </div>
        </div>
    </div>

    <div class="col s12 m3"></div>

</div>
