<form id="file-input" action="/localupload" method="POST" enctype="multipart/form-data" style="display: none;">
    <input type="file" name="file[]" accept="image/*" onchange="imageSelected()"></input>
  </form>

  <div class="row">

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <div id="local-input-img"><img src="{{ url_for('static', filename='temp/c.png') }}" alt="Use + to select an image"></div>
          <a class="btn-floating halfway-fab waves-effect waves-light" onclick="triggerDownload('c.png')"><i class="material-icons">zoom_out_map</i></a>
        </div>
        <div class="card-content">
          <span style="display: inline;" class="card-title">Input RGB Image </span> <div style="display: inline;" id="local-input-title-container"></div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <div id="local-depth-img"><img src="{{ url_for('static', filename='temp/d.png') }}" alt="Depth intensity map will show up here"></div>
          <a class="btn-floating halfway-fab waves-effect waves-light" onclick="triggerDownload('d.png')"><i class="material-icons">zoom_out_map</i></a>
        </div>
        <div class="card-content">
          <span style="display: inline;" class="card-title">Output Depth Map </span> <div style="display: inline;" id="local-depth-title-container"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s3"></div>
    <div class="col s6"><a class="waves-effect waves-light btn-large" onclick="loadPointCloud()"><i class="material-icons right">3d_rotation</i> View 3D Point Cloud</a></div>
    <div class="col s3"></div>
  </div>